:root {
	--body-color: white;
	--bg-color: navy;
	--main-bg-color: #bed;
	--hover-color: #f1e20adf;
	--h2-color: black;
	--card-color: rgba(2, 47, 47, 0.908);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--body-color);
	max-width: 1090px;
	margin: 0 auto;	
}

main {	
	border: 1px solid rgba(0, 0, 0, 0.133);
	background-color: var(--main-bg-color);		
}

header {
	background-color: var(--bg-color);
	padding: 1rem;
}

h1 {
	text-align: left;
	font-size: 1.8rem;
	margin-left: 1rem;
    text-align: center;
}

h2 {
	font-size: 1.3rem;
	color: var(--h2-color);
	text-align: center;
	margin: 0.5rem;
}

#cards {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;	
    gap: 10px;
}

section {	
    border: 2px solid var(--card-color);
    width: 243px;
    height: 380px;
    margin-bottom: 15px;
    border-radius: 10px;    
}

img {
	width: 240px;
	height: 340px;
	border-radius: 3%;
    box-shadow: 0 0 30px #777;
}

.btns {
    display: flex;    
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btns button {
    padding: 10px;
    width: 200px;
    color: var(--h2-color);
}


footer {
	padding: 0.8rem;
	background-color: var(--bg-color);
    text-align: center;
}
  
@media screen and (min-width: 600px) {
    
	
    #cards {        
        align-items: center;
        justify-content: center;	
        gap: 10px;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 30px;
        gap: 5px;
    }
    
    
 
    
}
